<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>about</title>
</head>

<body>
  <header>
    {{>header}}
  </header>
  <p><b><i>This site was created by Sriram Selvaraj. it uses data from mapbox.com and darksky.net</i></b></p>
  <img class="portrait" src="/images/sample.jpg" alt="not-found"></img>
  <span>Created by <b><i>{{name}}</i></b></span>
  <footer>
    {{>footer}}
  </footer>
</body>

</html>